h1{
    color: white;
    text-shadow: 2px 2px 2px black;
}
div{
    box-shadow: 2px 3px 2px 2px rgb(0, 0, 19);
    padding: 15px;
}
.contenido{
    display: flex;
}

body{
    background-color: #24dde4;
}
@media (min-width:320px) and (max-width:414px)
{
    body{
        background-color: aquamarine;
    }
    h1{
        font-size: 15px;
        color: blueviolet;
    }
    div{
        padding-left: 10px;
    }
}
@media (min-width:415px) and (max-width:599px)
{
    body{
        background-image: url(/imagenes/img_7.jfif)
    h1{
        font-size: 15px;
        color: blueviolet;
    }
    div{
        padding-left: 10px;
    }

.menu {
    display: none;
}

}

@media (min-width:200px) and (max-width:319px) {
    .contenido {
        display: block;
    }
    h1 {
        font-size: 15px;
    }
}

@media (min-width:600px) and (max-width:1024px) {
h1 {
    font-size: 25px;
}

}


@media (min-width:1025px) and (max-width:1600px) {
    h1 {
        font-size: 40px;
    }
    
    }